.sect {
    text-align: center;
    background-color: rgb(249, 219, 140);
    border: solid 00.001px black;
}
  
  .header {
    display: flex;
    justify-content: center;
    flex-direction: column;
    color: white;
    text-shadow: 1px 1px rgb(137, 135, 135);
  
    font-family: "Courier New", Courier, monospace;
  }
  
  .home {
    margin-bottom: 1rem;
    border-radius: 50px;
    --c: #229091; 
    box-shadow: 0 0 0 0.1em inset var(--c);
    --_g: linear-gradient(var(--c) 0 0) no-repeat;
    background: var(--_g) calc(var(--_p, 0%) - 100%) 0%,
      var(--_g) calc(200% - var(--_p, 0%)) 0%,
      var(--_g) calc(var(--_p, 0%) - 100%) 100%,
      var(--_g) calc(200% - var(--_p, 0%)) 100%;
    background-size: 50.5% calc(var(--_p, 0%) / 2 + 0.5%);
    transition: background-size 0.4s, background-position 0s 0.4s;
    font-family: "Courier New", Courier, monospace;
  
    font-size: 100%;
    cursor: pointer;
    padding: 0.1em 0.6em;
    font-weight: bold;
    border: none;
    background-color: rgb(254, 248, 208);
  }
  .home:hover {
    --_p: 100%;
    transition: background-position 0.4s, background-size 0s;
  }
  .home:active {
    box-shadow: 0 0 9e9Q inset #0009;
    background-color: var(--c);
    color: #fff;
  }
  
  